In [1]:
import pandas as pd
import numpy as np

In [2]:
car=pd.read_csv("quikr_car.csv")

In [3]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [4]:
# Target variable - Price

In [5]:
car.shape

(892, 6)

In [6]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [7]:
#Data Cleaning

## Quality

- year has many non-year values
- year object to int
- price has some non-price values
- Price object to int
- kms_driven with kms
- kms driven object to int
- kms_driven has nan values
- fuel_type has nan values
- keep first three words of name

In [8]:
car["year"].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [9]:
car["Price"].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '3,71,500', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

In [10]:
car.columns

Index(['name', 'company', 'year', 'Price', 'kms_driven', 'fuel_type'], dtype='object')

In [11]:
print(car['kms_driven'].unique())
print(car["kms_driven"].dtype)

['45,000 kms' '40 kms' '22,000 kms' '28,000 kms' '36,000 kms' '59,000 kms'
 '41,000 kms' '25,000 kms' '24,530 kms' '60,000 kms' '30,000 kms'
 '32,000 kms' '48,660 kms' '4,000 kms' '16,934 kms' '43,000 kms'
 '35,550 kms' '39,522 kms' '39,000 kms' '55,000 kms' '72,000 kms'
 '15,975 kms' '70,000 kms' '23,452 kms' '35,522 kms' '48,508 kms'
 '15,487 kms' '82,000 kms' '20,000 kms' '68,000 kms' '38,000 kms'
 '27,000 kms' '33,000 kms' '46,000 kms' '16,000 kms' '47,000 kms'
 '35,000 kms' '30,874 kms' '15,000 kms' '29,685 kms' '1,30,000 kms'
 '19,000 kms' nan '54,000 kms' '13,000 kms' '38,200 kms' '50,000 kms'
 '13,500 kms' '3,600 kms' '45,863 kms' '60,500 kms' '12,500 kms'
 '18,000 kms' '13,349 kms' '29,000 kms' '44,000 kms' '42,000 kms'
 '14,000 kms' '49,000 kms' '36,200 kms' '51,000 kms' '1,04,000 kms'
 '33,333 kms' '33,600 kms' '5,600 kms' '7,500 kms' '26,000 kms'
 '24,330 kms' '65,480 kms' '28,028 kms' '2,00,000 kms' '99,000 kms'
 '2,800 kms' '21,000 kms' '11,000 kms' '66,000 kms' '3,000 kms'
 '7,000 kms' '38,500 kms' '37,200 kms' '43,200 kms' '24,800 kms'
 '45,872 kms' '40,000 kms' '11,400 kms' '97,200 kms' '52,000 kms'
 '31,000 kms' '1,75,430 kms' '37,000 kms' '65,000 kms' '3,350 kms'
 '75,000 kms' '62,000 kms' '73,000 kms' '2,200 kms' '54,870 kms'
 '34,580 kms' '97,000 kms' '60 kms' '80,200 kms' '3,200 kms' '0,000 kms'
 '5,000 kms' '588 kms' '71,200 kms' '1,75,400 kms' '9,300 kms'
 '56,758 kms' '10,000 kms' '56,450 kms' '56,000 kms' '32,700 kms'
 '9,000 kms' '73 kms' '1,60,000 kms' '84,000 kms' '58,559 kms'
 '57,000 kms' '1,70,000 kms' '80,000 kms' '6,821 kms' '23,000 kms'
 '34,000 kms' '1,800 kms' '4,00,000 kms' '48,000 kms' '90,000 kms'
 '12,000 kms' '69,900 kms' '1,66,000 kms' '122 kms' '0 kms' '24,000 kms'
 '36,469 kms' '7,800 kms' '24,695 kms' '15,141 kms' '59,910 kms'
 '1,00,000 kms' '4,500 kms' '1,29,000 kms' '300 kms' '1,31,000 kms'
 '1,11,111 kms' '59,466 kms' '25,500 kms' '44,005 kms' '2,110 kms'
 '43,222 kms' '1,00,200 kms' '65 kms' '1,40,000 kms' '1,03,553 kms'
 '58,000 kms' '1,20,000 kms' '49,800 kms' '100 kms' '81,876 kms'
 '6,020 kms' '55,700 kms' '18,500 kms' '1,80,000 kms' '53,000 kms'
 '35,500 kms' '22,134 kms' '1,000 kms' '8,500 kms' '87,000 kms'
 '6,000 kms' '15,574 kms' '8,000 kms' '55,800 kms' '56,400 kms'
 '72,160 kms' '11,500 kms' '1,33,000 kms' '2,000 kms' '88,000 kms'
 '65,422 kms' '1,17,000 kms' '1,50,000 kms' '10,750 kms' '6,800 kms'
 '5 kms' '9,800 kms' '57,923 kms' '30,201 kms' '6,200 kms' '37,518 kms'
 '24,652 kms' '383 kms' '95,000 kms' '3,528 kms' '52,500 kms' '47,900 kms'
 '52,800 kms' '1,95,000 kms' '48,008 kms' '48,247 kms' '9,400 kms'
 '64,000 kms' '2,137 kms' '10,544 kms' '49,500 kms' '1,47,000 kms'
 '90,001 kms' '48,006 kms' '74,000 kms' '85,000 kms' '29,500 kms'
 '39,700 kms' '67,000 kms' '19,336 kms' '60,105 kms' '45,933 kms'
 '1,02,563 kms' '28,600 kms' '41,800 kms' '1,16,000 kms' '42,590 kms'
 '7,400 kms' '54,500 kms' '76,000 kms' '00 kms' '11,523 kms' '38,600 kms'
 '95,500 kms' '37,458 kms' '85,960 kms' '12,516 kms' '30,600 kms'
 '2,550 kms' '62,500 kms' '69,000 kms' '28,400 kms' '68,485 kms'
 '3,500 kms' '85,455 kms' '63,000 kms' '1,600 kms' '77,000 kms'
 '26,500 kms' '2,875 kms' '13,900 kms' '1,500 kms' '2,450 kms' '1,625 kms'
 '33,400 kms' '60,123 kms' '38,900 kms' '1,37,495 kms' '91,200 kms'
 '1,46,000 kms' '1,00,800 kms' '2,100 kms' '2,500 kms' '1,32,000 kms'
 'Petrol']
object

In [12]:
car["kms_driven"].isnull().any()

True

In [13]:
car["fuel_type"].isnull().any()

True

## Cleaning

In [14]:
backup=car.copy()

In [15]:
backup

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [16]:
car=car[car["year"].str.isnumeric()]

In [17]:
car["year"]=car["year"].astype(int)

In [18]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int32
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

In [19]:
car["Price"]

0             80,000
1           4,25,000
2      Ask For Price
3           3,25,000
4           5,75,000
           ...
886         3,00,000
888         2,60,000
889         3,90,000
890         1,80,000
891         1,60,000
Name: Price, Length: 842, dtype: object

In [20]:
car=car[car["Price"]!="Ask For Price"]

In [21]:
car["Price"]

0        80,000
1      4,25,000
3      3,25,000
4      5,75,000
6      1,75,000
         ...
886    3,00,000
888    2,60,000
889    3,90,000
890    1,80,000
891    1,60,000
Name: Price, Length: 819, dtype: object

In [22]:
car["Price"]=car["Price"].replace([","],"",regex=True).astype(int)

In [23]:
car["Price"]

0       80000
1      425000
3      325000
4      575000
6      175000
        ...
886    300000
888    260000
889    390000
890    180000
891    160000
Name: Price, Length: 819, dtype: int32

In [24]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int32
 3   Price       819 non-null    int32
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.4+ KB

In [25]:
car["kms_driven"]

0        45,000 kms
1            40 kms
3        28,000 kms
4        36,000 kms
6        41,000 kms
           ...
886    1,32,000 kms
888      27,000 kms
889      40,000 kms
890          Petrol
891          Petrol
Name: kms_driven, Length: 819, dtype: object

In [26]:
car["kms_driven"]=car["kms_driven"].str.split(" ").str.get(0).str.replace(",","")

In [27]:
car=car[car["kms_driven"].str.isnumeric()]

In [28]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.3+ KB

In [29]:
car["kms_driven"]=car["kms_driven"].astype(int)

In [30]:
car["kms_driven"].dtype

dtype('int32')

In [31]:
car["fuel_type"].isnull().sum()

1

In [32]:
car=car[~car["fuel_type"].isnull()]

In [33]:
car["name"]

0        Hyundai Santro Xing XO eRLX Euro III
1                     Mahindra Jeep CL550 MDI
3      Hyundai Grand i10 Magna 1.2 Kappa VTVT
4            Ford EcoSport Titanium 1.5L TDCi
6                                   Ford Figo
                        ...
883                Maruti Suzuki Ritz VXI ABS
885                 Tata Indica V2 DLE BS III
886                      Toyota Corolla Altis
888                       Tata Zest XM Diesel
889                        Mahindra Quanto C8
Name: name, Length: 816, dtype: object

In [34]:
car["name"]=car["name"].str.split(" ").str.slice(0,3).str.join(" ")

In [35]:
car.reset_index(drop=True)

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [36]:
car.index.name="S.no."

In [37]:
car.head(5)

                         name   company  year   Price  kms_driven fuel_type
S.no.
0         Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1         Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3           Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4      Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                   Ford Figo      Ford  2012  175000       41000    Diesel

In [38]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [39]:
car.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [40]:
car=car[car["Price"]<6e6].reset_index(drop=True)

In [41]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
811          Tata Indica V2      Tata  2009  110000       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
813            Tata Zest XM      Tata  2018  260000       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [42]:
car.to_csv(r"C:\Users\admin\Desktop\Intern Project\Cleaned Car.csv")

In [43]:
car.describe()

              year         Price     kms_driven
count   815.000000  8.150000e+02     815.000000
mean   2012.442945  4.017933e+05   46277.096933
std       4.005079  3.815888e+05   34318.459638
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.900000e+05   56879.000000
max    2019.000000  3.100000e+06  400000.000000

## MODEL

In [44]:
X=car.drop(columns="Price")

In [45]:
X

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
811          Tata Indica V2      Tata  2009       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009      132000    Petrol
813            Tata Zest XM      Tata  2018       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]

In [46]:
y=car["Price"]

In [47]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
810    270000
811    110000
812    300000
813    260000
814    390000
Name: Price, Length: 815, dtype: int32

In [48]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [49]:
X_train

                        name   company  year  kms_driven fuel_type
624          Tata Indica eV2      Tata  2015       60105    Diesel
278       Mahindra Quanto C8  Mahindra  2013       37000    Diesel
584       Maruti Suzuki Omni    Maruti  2012      160000       LPG
89          Skoda Fabia 1.2L     Skoda  2011       45863    Diesel
342            Hyundai Verna   Hyundai  2014       44000    Diesel
..                       ...       ...   ...         ...       ...
44                Honda City     Honda  2015       55000    Petrol
371        Toyota Innova 2.5    Toyota  2012           0    Diesel
85   Hyundai Verna Transform   Hyundai  2008       45000    Petrol
255       Maruti Suzuki Ritz    Maruti  2014       19000    Petrol
335              Hyundai i20   Hyundai  2014       23000    Petrol

[652 rows x 5 columns]

In [50]:
X_test

                    name   company  year  kms_driven fuel_type
262    Renault Duster 85   Renault  2013       27000    Diesel
379       Tata Indigo LX      Tata  2016      104000    Diesel
767      Mahindra KUV100  Mahindra  2016       26500    Petrol
250     Hyundai i20 Asta   Hyundai  2012       36200    Diesel
15               Audi Q7      Audi  2014       16934    Diesel
..                   ...       ...   ...         ...       ...
713    Hyundai Verna 1.6   Hyundai  2012       29000    Diesel
514  Maruti Suzuki Wagon    Maruti  2009       35000    Petrol
195  Maruti Suzuki Wagon    Maruti  2009       45000    Petrol
440    Hyundai Elite i20   Hyundai  2015       20000    Petrol
123  Maruti Suzuki Swift    Maruti  2007       70000    Petrol

[163 rows x 5 columns]

In [51]:
y_train

624    140000
278    340000
584    120000
89     155000
342    489999
        ...
44     499999
371    770000
85     160000
255    299999
335    449999
Name: Price, Length: 652, dtype: int32

In [52]:
y_test

262    489999
379    130000
767    380000
250    329500
15     500000
        ...
713    600000
514    160000
195    135000
440    419000
123    125000
Name: Price, Length: 163, dtype: int32

In [53]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [54]:
ohe=OneHotEncoder()
ohe.fit(X[["name","company","fuel_type"]])

OneHotEncoder()

In [55]:
ohe.categories_

[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
        'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
        'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
        'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat Diesel',
        'Chevrolet Beat LS', 'Chevrolet Beat LT', 'Chevrolet Beat PS',
        'Chevrolet Cruze LTZ', 'Chevrolet Enjoy', 'Chevrolet Enjoy 1.4',
        'Chevrolet Sail 1.2', 'Chevrolet Sail UVA', 'Chevrolet Spark',
        'Chevrolet Spark 1.0', 'Chevrolet Spark LS', 'Chevrolet Spark LT',
        'Chevrolet Tavera LS', 'Chevrolet Tavera Neo', 'Datsun GO T',
        'Datsun Go Plus', 'Datsun Redi GO', 'Fiat Linea Emotion',
        'Fiat Petra ELX', 'Fiat Punto Emotion', 'Force Motors Force',
        'Force Motors One', 'Ford EcoSport', 'Ford EcoSport Ambiente',
        'Ford EcoSport Titanium', 'Ford EcoSport Trend',
        'Ford Endeavor 4x4', 'Ford Fiesta', 'Ford Fiesta SXi', 'Ford Figo',
        'Ford Figo Diesel', 'Ford Figo Duratorq', 'Ford Figo Petrol',
        'Ford Fusion 1.4', 'Ford Ikon 1.3', 'Ford Ikon 1.6',
        'Hindustan Motors Ambassador', 'Honda Accord', 'Honda Amaze',
        'Honda Amaze 1.2', 'Honda Amaze 1.5', 'Honda Brio', 'Honda Brio V',
        'Honda Brio VX', 'Honda City', 'Honda City 1.5', 'Honda City SV',
        'Honda City VX', 'Honda City ZX', 'Honda Jazz S', 'Honda Jazz VX',
        'Honda Mobilio', 'Honda Mobilio S', 'Honda WR V', 'Hyundai Accent',
        'Hyundai Accent Executive', 'Hyundai Accent GLE',
        'Hyundai Accent GLX', 'Hyundai Creta', 'Hyundai Creta 1.6',
        'Hyundai Elantra 1.8', 'Hyundai Elantra SX', 'Hyundai Elite i20',
        'Hyundai Eon', 'Hyundai Eon D', 'Hyundai Eon Era',
        'Hyundai Eon Magna', 'Hyundai Eon Sportz', 'Hyundai Fluidic Verna',
        'Hyundai Getz', 'Hyundai Getz GLE', 'Hyundai Getz Prime',
        'Hyundai Grand i10', 'Hyundai Santro', 'Hyundai Santro AE',
        'Hyundai Santro Xing', 'Hyundai Sonata Transform', 'Hyundai Verna',
        'Hyundai Verna 1.4', 'Hyundai Verna 1.6', 'Hyundai Verna Fluidic',
        'Hyundai Verna Transform', 'Hyundai Verna VGT',
        'Hyundai Xcent Base', 'Hyundai Xcent SX', 'Hyundai i10',
        'Hyundai i10 Era', 'Hyundai i10 Magna', 'Hyundai i10 Sportz',
        'Hyundai i20', 'Hyundai i20 Active', 'Hyundai i20 Asta',
        'Hyundai i20 Magna', 'Hyundai i20 Select', 'Hyundai i20 Sportz',
        'Jaguar XE XE', 'Jaguar XF 2.2', 'Jeep Wrangler Unlimited',
        'Land Rover Freelander', 'Mahindra Bolero DI',
        'Mahindra Bolero Power', 'Mahindra Bolero SLE',
        'Mahindra Jeep CL550', 'Mahindra Jeep MM', 'Mahindra KUV100',
        'Mahindra KUV100 K8', 'Mahindra Logan', 'Mahindra Logan Diesel',
        'Mahindra Quanto C4', 'Mahindra Quanto C8', 'Mahindra Scorpio',
        'Mahindra Scorpio 2.6', 'Mahindra Scorpio LX',
        'Mahindra Scorpio S10', 'Mahindra Scorpio S4',
        'Mahindra Scorpio SLE', 'Mahindra Scorpio SLX',
        'Mahindra Scorpio VLX', 'Mahindra Scorpio Vlx',
        'Mahindra Scorpio W', 'Mahindra TUV300 T4', 'Mahindra TUV300 T8',
        'Mahindra Thar CRDe', 'Mahindra XUV500', 'Mahindra XUV500 W10',
        'Mahindra XUV500 W6', 'Mahindra XUV500 W8', 'Mahindra Xylo D2',
        'Mahindra Xylo E4', 'Mahindra Xylo E8', 'Maruti Suzuki 800',
        'Maruti Suzuki A', 'Maruti Suzuki Alto', 'Maruti Suzuki Baleno',
        'Maruti Suzuki Celerio', 'Maruti Suzuki Ciaz',
        'Maruti Suzuki Dzire', 'Maruti Suzuki Eeco',
        'Maruti Suzuki Ertiga', 'Maruti Suzuki Esteem',
        'Maruti Suzuki Estilo', 'Maruti Suzuki Maruti',
        'Maruti Suzuki Omni', 'Maruti Suzuki Ritz', 'Maruti Suzuki S',
        'Maruti Suzuki SX4', 'Maruti Suzuki Stingray',
        'Maruti Suzuki Swift', 'Maruti Suzuki Versa',
        'Maruti Suzuki Vitara', 'Maruti Suzuki Wagon', 'Maruti Suzuki Zen',
        'Mercedes Benz A', 'Mercedes Benz B', 'Mercedes Benz C',
        'Mercedes Benz GLA', 'Mini Cooper S', 'Mitsubishi Lancer 1.8',
        'Mitsubishi Pajero Sport', 'Nissan Micra XL', 'Nissan Micra XV',
        'Nissan Sunny', 'Nissan Sunny XL', 'Nissan Terrano XL',
        'Nissan X Trail', 'Renault Duster', 'Renault Duster 110',
        'Renault Duster 110PS', 'Renault Duster 85', 'Renault Duster 85PS',
        'Renault Duster RxL', 'Renault Kwid', 'Renault Kwid 1.0',
        'Renault Kwid RXT', 'Renault Lodgy 85', 'Renault Scala RxL',
        'Skoda Fabia', 'Skoda Fabia 1.2L', 'Skoda Fabia Classic',
        'Skoda Laura', 'Skoda Octavia Classic', 'Skoda Rapid Elegance',
        'Skoda Superb 1.8', 'Skoda Yeti Ambition', 'Tata Aria Pleasure',
        'Tata Bolt XM', 'Tata Indica', 'Tata Indica V2', 'Tata Indica eV2',
        'Tata Indigo CS', 'Tata Indigo LS', 'Tata Indigo LX',
        'Tata Indigo Marina', 'Tata Indigo eCS', 'Tata Manza',
        'Tata Manza Aqua', 'Tata Manza Aura', 'Tata Manza ELAN',
        'Tata Nano', 'Tata Nano Cx', 'Tata Nano GenX', 'Tata Nano LX',
        'Tata Nano Lx', 'Tata Sumo Gold', 'Tata Sumo Grande',
        'Tata Sumo Victa', 'Tata Tiago Revotorq', 'Tata Tiago Revotron',
        'Tata Tigor Revotron', 'Tata Venture EX', 'Tata Vista Quadrajet',
        'Tata Zest Quadrajet', 'Tata Zest XE', 'Tata Zest XM',
        'Toyota Corolla', 'Toyota Corolla Altis', 'Toyota Corolla H2',
        'Toyota Etios', 'Toyota Etios G', 'Toyota Etios GD',
        'Toyota Etios Liva', 'Toyota Fortuner', 'Toyota Fortuner 3.0',
        'Toyota Innova 2.0', 'Toyota Innova 2.5', 'Toyota Qualis',
        'Volkswagen Jetta Comfortline', 'Volkswagen Jetta Highline',
        'Volkswagen Passat Diesel', 'Volkswagen Polo',
        'Volkswagen Polo Comfortline', 'Volkswagen Polo Highline',
        'Volkswagen Polo Highline1.2L', 'Volkswagen Polo Trendline',
        'Volkswagen Vento Comfortline', 'Volkswagen Vento Highline',
        'Volkswagen Vento Konekt', 'Volvo S80 Summum'], dtype=object),
 array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
        'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
        'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
        'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
       dtype=object),
 array(['Diesel', 'LPG', 'Petrol'], dtype=object)]

In [56]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),["name","company","fuel_type"]),
                                    remainder="passthrough")
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)

In [57]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [58]:
y_pred=pipe.predict(X_test)

In [59]:
y_pred

array([ 405818.74359301,  385066.24684415,  527449.29050874,
        377178.78439308, 1572735.37124147,  451712.53162258,
        388536.37714569,  459713.69592334,  -68099.69116736,
        382185.95241109,  447378.09789112, 1134296.36459763,
        348611.52126002,  165070.9134235 ,  123074.94574682,
        351186.18537442,  462696.70380608,  202239.88095403,
        292444.69456015,  321679.31049445,  323275.21459324,
       1173355.21368387,  460365.06910095,  533756.73926502,
       1563188.48372199,  703751.76205892,  347988.07589483,
        641779.72706954,  537028.24924988,  448253.36410964,
       1090316.52499966,  260588.53471215,  398739.50752604,
       1722594.22276593,  641446.43394142,  354014.17808416,
        251291.95805001,  282821.94131885,  591956.69043655,
        404405.39813967,  235452.46774019,  495727.60298858,
        356143.59595639,  398401.27900112,  325954.71796592,
        762808.43220667,  230377.99084295,  399775.40472482,
        373018.00518115,  331896.71563318,  219509.2886528 ,
        381702.69145779,  254382.3326535 ,  260406.52316542,
        394182.66774721,  228279.75361963,  215470.87882394,
        498765.39219268,  778468.96288952,  269849.03912112,
        131546.88189647,  512347.51223608,  358161.78966314,
        104743.33870639,  212229.90214723,  491014.58431955,
       -161290.84945036,  164430.03807768,   80975.66843671,
        649085.4251168 ,  849233.61330672,  291938.07415208,
        813677.33380277,  291938.07415208,  324898.04178248,
        143055.64929682,   10696.35402525,  281223.60482658,
        282867.1245224 , -140331.17876341,  445439.63015795,
        618302.79876117,  241893.82662324,  -26247.64550445,
        220180.53349175,  564267.03086821,  -61610.15852039,
        326362.85649052,   31738.36718873,  337545.74399166,
        256918.54084609,  514039.72543832, 1079223.78001115,
         56271.89080118,  235588.89306046,   70627.85757934,
        138815.47364655,   41666.0153458 ,  255207.82659778,
        507917.83787752,  285891.39316271,  583374.97102835,
        294093.24484483,  406301.77373321,  271560.82504992,
        553436.12245393,  430395.3479255 ,  523374.59495133,
        350964.55946815,  487017.78654934,  101848.96676132,
        711047.06881943,  359299.01391489,  328656.12884622,
        312131.18867421,  554385.88386036,  339566.52468566,
        411728.71140757,  518426.78561189,  440777.88366275,
        581579.2017555 ,  378666.3016655 ,  465893.40848806,
        241342.43455977,   -2281.95316166,  640759.39393865,
        340557.39931617,  346360.42371301,   44484.89272957,
        398739.50752604, 2239999.6276487 ,   80161.60225347,
        413936.52676167,  421933.91117656,  470657.85110186,
        439462.29881024,  514299.89544076,  589022.06489832,
        337545.74399166,  566136.95623718,  377178.78439308,
        428720.01365366,  258445.35306641,  142575.80584204,
        389873.70605857,  264180.60483252,  374029.60431863,
        370022.33158458,  272509.74140213,  196586.40120697,
        418683.99481004,  122594.88613   ,  291462.41787654,
        524890.31153905,  583723.08040128,  161942.61992955,
        442926.70230447,  331752.61543194,  371950.11921172,
        109960.23076463,  104366.13283923,  436116.27484864,
         38438.27298445])

In [60]:
r2_score(y_test,y_pred)

0.582460104351654

In [61]:
scores=[]
for i in range(1000):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    scores.append(r2_score(y_test,y_pred))

In [62]:
np.argmax(scores)

433

In [63]:
scores[np.argmax(scores)]

0.8457088635857648

In [64]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)

In [65]:
r2_score(y_test,y_pred)

0.8457088635857648

In [66]:
pip install pickle-mixin

Requirement already satisfied: pickle-mixin in c:\users\admin\anaconda3\lib\site-packages (1.0.2)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [67]:
import pickle

In [68]:
pickle.dump(pipe,open("LinearRegressionModel.pkl","wb"))

In [69]:
pipe.predict(pd.DataFrame([["Maruti Suzuki Swift","Maruti",2019,100,"Petrol"]],columns=["name","company","year","kms_driven","fuel_type"]))

array([458882.14431725])

## GUI

In [70]:
import tkinter as tk
from tkinter import messagebox
import pickle

# Load the trained model
model = pickle.load(open(r"C:\Users\admin\Desktop\Intern Project\LinearRegressionModel.pkl", "rb"))

# Create the Tkinter window
window = tk.Tk()
window.title("Car Price Predictor")

# Create labels and entry fields
label_name = tk.Label(window, text="Car Name:")
label_name.pack()
entry_name = tk.Entry(window)
entry_name.pack()

label_company = tk.Label(window, text="Company:")
label_company.pack()
entry_company = tk.Entry(window)
entry_company.pack()

label_year = tk.Label(window, text="Year:")
label_year.pack()
entry_year = tk.Entry(window)
entry_year.pack()

label_kms = tk.Label(window, text="Kilometers Driven:")
label_kms.pack()
entry_kms = tk.Entry(window)
entry_kms.pack()

label_fuel = tk.Label(window, text="Fuel Type:")
label_fuel.pack()
entry_fuel = tk.Entry(window)
entry_fuel.pack()

# Prediction function
# Prediction function
def predict_price():
    try:
        # Get input values from entry fields
        name = entry_name.get()
        company = entry_company.get()
        year = int(entry_year.get())
        kms_driven = int(entry_kms.get())
        fuel_type = entry_fuel.get()

        # Create a DataFrame with the input values
        input_data = pd.DataFrame([[name, company, year, kms_driven, fuel_type]], columns=["name", "company", "year", "kms_driven", "fuel_type"])

        # Make a prediction using the loaded model
        prediction = model.predict(input_data)

        # Show the predicted price in a messagebox
        messagebox.showinfo("Prediction", f"The predicted price is: ₹{prediction[0]:.2f} Lakhs")
    except Exception as e:
        messagebox.showerror("Error", str(e))


# Create a predict button
btn_predict = tk.Button(window, text="Predict Price", command=predict_price)
btn_predict.pack()

# Run the Tkinter event loop
window.mainloop()

In [71]:
import tkinter as tk
from tkinter import messagebox
import pickle

# Load the trained model
model = pickle.load(open(r"C:\Users\admin\Desktop\Intern Project\LinearRegressionModel.pkl", "rb"))

# Create the Tkinter window
window = tk.Tk()
window.title("Car Price Predictor")
window.geometry("400x300")

# Styling
window.configure(bg="#F0F0F0")
font_label = ("Arial", 12)
font_entry = ("Arial", 12)
btn_color = "#007BFF"
btn_text_color = "#FFFFFF"

# Create labels and entry fields
label_name = tk.Label(window, text="Car Name:", font=font_label, bg="#F0F0F0")
label_name.pack(pady=5)
entry_name = tk.Entry(window, font=font_entry)
entry_name.pack(pady=5)

label_company = tk.Label(window, text="Company:", font=font_label, bg="#F0F0F0")
label_company.pack(pady=5)
entry_company = tk.Entry(window, font=font_entry)
entry_company.pack(pady=5)

label_year = tk.Label(window, text="Year:", font=font_label, bg="#F0F0F0")
label_year.pack(pady=5)
entry_year = tk.Entry(window, font=font_entry)
entry_year.pack(pady=5)

label_kms = tk.Label(window, text="Kilometers Driven:", font=font_label, bg="#F0F0F0")
label_kms.pack(pady=5)
entry_kms = tk.Entry(window, font=font_entry)
entry_kms.pack(pady=5)

label_fuel = tk.Label(window, text="Fuel Type:", font=font_label, bg="#F0F0F0")
label_fuel.pack(pady=5)
entry_fuel = tk.Entry(window, font=font_entry)
entry_fuel.pack(pady=5)

# Prediction function
def predict_price():
    try:
        # Get input values from entry fields
        name = entry_name.get()
        company = entry_company.get()
        year = int(entry_year.get())
        kms_driven = int(entry_kms.get())
        fuel_type = entry_fuel.get()

        # Create a DataFrame with the input values
        input_data = pd.DataFrame(
            [[name, company, year, kms_driven, fuel_type]],
            columns=["name", "company", "year", "kms_driven", "fuel_type"]
        )

        # Make a prediction using the loaded model
        prediction = model.predict(input_data)

        # Show the predicted price in a messagebox
        messagebox.showinfo("Prediction", f"The predicted price is: ₹{prediction[0]:.2f} Lakhs")
    except Exception as e:
        messagebox.showerror("Error", str(e))


# Create a predict button
btn_predict = tk.Button(
    window, text="Predict Price", font=font_label,
    command=predict_price, bg=btn_color, fg=btn_text_color
)
btn_predict.pack(pady=15)

# Run the Tkinter event loop
window.mainloop()

In [73]:
import tkinter as tk
from tkinter import messagebox
import pickle

# Load the trained model
model = pickle.load(open(r"C:\Users\admin\Desktop\Intern Project\LinearRegressionModel.pkl", "rb"))

# Create the Tkinter window
window = tk.Tk()
window.title("Car Price Predictor")
window.geometry("400x300")

# Styling
window.configure(bg="#F0F0F0")
font_label = ("Arial", 12, "bold")  # Set label font to bold
font_entry = ("Arial", 12)
btn_color = "#007BFF"
btn_text_color = "#FFFFFF"

# Create labels and entry fields with different label color
label_name = tk.Label(window, text="Car Name:", font=font_label, bg="#F0F0F0", fg="#007BFF")
label_name.pack(pady=5)
entry_name = tk.Entry(window, font=font_entry)
entry_name.pack(pady=5)

label_company = tk.Label(window, text="Company:", font=font_label, bg="#F0F0F0", fg="#007BFF")
label_company.pack(pady=5)
entry_company = tk.Entry(window, font=font_entry)
entry_company.pack(pady=5)

label_year = tk.Label(window, text="Year:", font=font_label, bg="#F0F0F0", fg="#007BFF")
label_year.pack(pady=5)
entry_year = tk.Entry(window, font=font_entry)
entry_year.pack(pady=5)

label_kms = tk.Label(window, text="Kilometers Driven:", font=font_label, bg="#F0F0F0", fg="#007BFF")
label_kms.pack(pady=5)
entry_kms = tk.Entry(window, font=font_entry)
entry_kms.pack(pady=5)

label_fuel = tk.Label(window, text="Fuel Type:", font=font_label, bg="#F0F0F0", fg="#007BFF")
label_fuel.pack(pady=5)
entry_fuel = tk.Entry(window, font=font_entry)
entry_fuel.pack(pady=5)

# Prediction function
def predict_price():
    try:
        # Get input values from entry fields
        name = entry_name.get()
        company = entry_company.get()
        year = int(entry_year.get())
        kms_driven = int(entry_kms.get())
        fuel_type = entry_fuel.get()

        # Create a DataFrame with the input values
        input_data = pd.DataFrame(
            [[name, company, year, kms_driven, fuel_type]],
            columns=["name", "company", "year", "kms_driven", "fuel_type"]
        )

        # Make a prediction using the loaded model
        prediction = model.predict(input_data)

        # Show the predicted price in a messagebox
        messagebox.showinfo("Prediction", f"The predicted price is: ₹{prediction[0]:.2f} Lakhs")
    except Exception as e:
        messagebox.showerror("Error", str(e))


# Create a predict button
btn_predict = tk.Button(
    window, text="Predict Price", font=font_label,
    command=predict_price, bg=btn_color, fg=btn_text_color
)
btn_predict.pack(pady=15)

# Run the Tkinter event loop
window.mainloop()